{% extends 'htmls/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
    <h1>Formulario de inventario Tienda</h1>
    {{errorInvTienda}}
    <hr>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{formInvTi | crispy}}
                        <br>
                      
                        <button class="btn btn-block btn-sm custom-btn">
                            <i class="fas fa-folder-plus"></i> Guardar
                        </button>
                        <a href="{% url 'listar_inventarioTienda' %}" class="btn btn-block btn-sm custom-btn">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </form>
                </div>
            </div>
            
        </div>

    </div>


{% endblock content %}