{% extends 'htmls/base.html'%}
{% block content %}

<h3>Inventario</h3>

{% if user.is_superuser %}
    <!-- Contenido exclusivo para el administrador -->
    <h1>Bienvenido, Administrador {{user.username | upper }}</h1>
    <p> Tabla de los inventarios en alivaldi</p>
    <br>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Acceso a Inventario</th>
                <th scope="col">Descripción</th>
                
                </thead>
                <tbody class="table-group-divider">
                    <tr></tr>
                        <td>
                            <a href="{% url 'listar_tiposRopa' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Tipos de Ropa
                            </a>
                        </td>
                        <td>Tabla que contiene el listado de los tipos de ropa que son usados en alivaldi</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'listar_categorias' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Categorías
                            </a>
                        </td>
                        <td>Tabla que contiene el listado de las categorias que son usadas en alivaldi</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'listar_inventarioAlmacen' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Inventario Almacén
                            </a>
                        </td>
                        <td>Tabla que contiene el inventario en el almacen de alivaldi</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'listar_proveedores' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Inventario Proveedores
                            </a>
                        </td>
                        <td>Tabla que contiene  el inventario de proveedores en alivaldi</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'listar_inventarioTienda' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Inventario Tienda
                            </a>
                        </td>
                        <td>Tabla del inventario de tienda en alivaldi</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'listar_rotacionInventario' %}" class="btn btn-block btn-sm custom-btn">
                                <i class="fas fa-file-alt"></i> Rotación de Inventario
                            </a>
                    
                        </td>
                        <td>Tabla de las rotaciones de categorias en alivaldi</td>
                    </tr>
                    
                </tbody>
            </tr>
            </table>
        </div>
    </div>


{% else %}
    <!-- Contenido visible para otros usuarios -->
    <h1>Bienvenido, Usuario</h1>
    <p>Aquí está el contenido visible para los usuarios regulares.</p>
{% endif %}

{% endblock %}

