{% extends 'htmls/base.html'%}

{% block content %}
{% load static %}
<h3> Lista Rotacion del inventario </h3>
<hr>
<br>
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col">Categoria de origen</th>
            <th  scope="col">Categoria de destino</th>
            <th scope="col">Cantidad Movida</th>
            <th scope="col">Fecha movimiento</th>
            <th scope="col">Realizado por</th>
            <th scope="col">Comentario</th>
            <th scope="col">Editar Registro</th>
            <th scope="col">Eliminar Registro</th>

            </thead>
            <tbody>
                {% for Rotacioninventario in listar_rotacionInventario %}
                    <tr>
                        <td>{{Rotacioninventario.categoria_origen}}</td>
                        <td>{{Rotacioninventario.categoria_destino}}</td>
                        <td>{{Rotacioninventario.cantidad_movida}}</td>
                        <td>{{Rotacioninventario.fecha_movimiento}}</td>
                        <td>{{Rotacioninventario.realizado_por}}</td>
                        <td>{{Rotacioninventario.comentario}}</td>
                        <td>
                            <a href="{% url 'update_rotacionInventario' Rotacioninventario.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn text-danger px-0" onclick="confirmDelete('{{ Rotacioninventario.id }}')">
                                <i class="far fa-trash-alt fa-lg"></i>
                            </button>
                            <form id="delete-form-{{ Rotacioninventario.id }}" action="{% url 'delete_rotacionInventario' Rotacioninventario.id %}" method="POST" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </tr>
        </table>
    </div>
</div>
<div>
    <a href="{% url 'inventario' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-arrow-left"></i> Regresar
    </a>
    <a href="{% url 'formRotacionInventario' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-plus"></i> Agregar registro
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar esta Rotación de Tienda? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    let rotTiendaIdToDelete = null;

    function confirmDelete(categoryId) {
        rotTiendaIdToDelete = categoryId;
        $('#confirmDeleteModal').modal('show');
    }

    document.getElementById('confirmDeleteButton').addEventListener('click', function() {
        if (rotTiendaIdToDelete) {
            document.getElementById('delete-form-' + rotTiendaIdToDelete).submit();
        }
    });
</script>
{% endblock content %}