{% extends 'htmls/base.html'%}

{% block content %}
{% load static %}
<p> Lista de Proveedores</p>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Telefono</th>
            <th scope="col">email</th>
            <th scope="col">Editar Registro</th>
            <th scope="col">Eliminar Registro</th>
            
            </thead>
            <tbody class="table-group-divider">
                {% for Proveedores in listar_proveedores %}
                    <tr>
                        <td>{{Proveedores.nombre}}</td>
                        <td>{{Proveedores.descripcion}}</td>
                        <td>{{Proveedores.telefono}}</td>
                        <td>{{Proveedores.email}}</td>
                        <td>
                            <a href="{% url 'update_proveedor' Proveedores.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </td>
                        <td><form action="{% url 'delete_proveedores' Proveedores.id %}" method="POST" class="d-inline">
                            {%csrf_token%}
                            <button type="submit" class="btn" >
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </tr>
        </table>
    </div>
</div>
<div>
    <a href="{% url 'inventario' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-arrow-left"></i> Regresar
    </a>
    <a href="{% url 'formProveedores' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-plus"></i> Agregar registro
    </a>
</div>
{% endblock content %}