{% extends 'htmls/base.html'%}

{% block content %}
{% load static %}
<h3> Lista de Inventario Almacen </h3>
<hr>
<br>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col">nombre producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad en stock</th>
            <th scope="col">precio</th>
            <th scope="col">fecha de ingreso</th>
            <th scope="col">estado del producto</th>
            <th scope="col">proveedor</th>
            <th scope="col">ultima modificacion</th>
            <th scope="col">Editar Registro</th>
            <th scope="col">Eliminar registro</th>
            
            </thead>
            <tbody class="table-group-divider">
                {% for Inventarioalmacen in listar_inventarioAlmacen %}
                    <tr>
                        <td>{{Inventarioalmacen.nombre_producto}}</td>
                        <td>{{Inventarioalmacen.descripcion}}</td>
                        <td>{{Inventarioalmacen.categoria}}</td>
                        <td>{{Inventarioalmacen.cantidad_en_stock}}</td>
                        <td>{{Inventarioalmacen.precio}}</td>
                        <td>{{Inventarioalmacen.fecha_ingreso}}</td>
                        <td>{{Inventarioalmacen.estado_producto}}</td>
                        <td>{{Inventarioalmacen.proveedor}}</td>
                        <td>{{Inventarioalmacen.ultima_modificacion}}</td>
                        <td>
                            <a href="{% url 'update_inventarioAlmacen' Inventarioalmacen.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </td>
                        <td><form action="{% url 'delete_inventarioAlmacen' Inventarioalmacen.id %}" method="POST" class="d-inline">
                            {%csrf_token%}
                            <button type="submit" class="btn" >
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </tr>
        </table>
    </div>
</div>
<div>
    <a href="{% url 'inventario' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-arrow-left"></i> Regresar
    </a>
    <a href="{% url 'formInventarioAlmacen' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-plus"></i> Agregar registro
    </a>
</div>
{% endblock content %}