{% extends 'htmls/base.html'%}

{% block content %}
{% load static %}
<h3> Lista de Inventario Almacen </h3>
<hr>
<br>
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col">nombre producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad en stock</th>
            <th scope="col">precio</th>
            <th scope="col">fecha de ingreso</th>
            <th scope="col">estado del producto</th>
            <th scope="col">proveedor</th>
            <th scope="col">ultima modificacion</th>
            <th scope="col">Editar Registro</th>
            <th scope="col">Eliminar registro</th>
            
            </thead>
            <tbody class="table-group-divider">
                {% for Inventarioalmacen in listar_inventarioAlmacen %}
                    <tr>
                        <td>{{Inventarioalmacen.nombre_producto}}</td>
                        <td>{{Inventarioalmacen.descripcion}}</td>
                        <td>{{Inventarioalmacen.categoria}}</td>
                        <td>{{Inventarioalmacen.cantidad_en_stock}}</td>
                        <td>{{Inventarioalmacen.precio}}</td>
                        <td>{{Inventarioalmacen.fecha_ingreso}}</td>
                        <td>{{Inventarioalmacen.estado_producto}}</td>
                        <td>{{Inventarioalmacen.proveedor}}</td>
                        <td>{{Inventarioalmacen.ultima_modificacion}}</td>
                        <td>
                            <a href="{% url 'update_inventarioAlmacen' Inventarioalmacen.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn text-danger px-0" onclick="confirmDelete('{{ Inventarioalmacen.id }}')">
                                <i class="far fa-trash-alt fa-lg"></i>
                            </button>
                            <form id="delete-form-{{ Inventarioalmacen.id }}" action="{% url 'delete_inventarioAlmacen' Inventarioalmacen.id %}" method="POST" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </tr>
        </table>
    </div>
</div>
<div>
    <a href="{% url 'inventario' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-arrow-left"></i> Regresar
    </a>
    <a href="{% url 'formInventarioAlmacen' %}" class="btn btn-block btn-sm custom-btn">
        <i class="fas fa-plus"></i> Agregar registro
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar esta producto del almacén? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    let inventarioAlmacenIdToDelete = null;

    function confirmDelete(inventarioAlmacenId) {
        inventarioAlmacenIdToDelete = inventarioAlmacenId;
        $('#confirmDeleteModal').modal('show');
    }

    document.getElementById('confirmDeleteButton').addEventListener('click', function() {
        if (inventarioAlmacenIdToDelete) {
            document.getElementById('delete-form-' + inventarioAlmacenIdToDelete).submit();
        }
    });
</script>
{% endblock content %}