{% extends 'htmls/base.html'%}

{% block content %}
{% load static %}
<p> Lista de Clientes en la Base de Datos </p>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
<tr>
    <td>Categoria</td>
    <td>descripcion</td>
    
    <td>
        <a href="{% url 'home' %}" class="btn btn.outline-sucess">
            <i class="fas fa-plus"></i>
        </a>
    </td>
    </thead>
    <tbody>
        {% for Categorias in listar_categorias %}
            <tr>
                <td>{{Categorias.nombre}}</td>
                <td>{{Categorias.descripcion}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</tr>
</table>
<div>
    <a href="{% url 'home' %}" class= "btn btn-secondary btn-block btn-lg">
        <i class="fas fa-stream"></i> Regresar al formulario de Clientes
    </a>
</div>
{% endblock content %}